embedding:
  bge-m3:
    path: BAAI/bge-m3
    batch_size: 2
    max_seq_len: 512
    enable_cache: false

reranker:
  bge-reranker-v2-m3:
    path: BAAI/bge-reranker-v2-m3
    batch_size: 4
    max_seq_len: 512

llm:
  qwen2-7b-instruct-mlx:
    backend: mlx
    path: Qwen/Qwen2-7B-Instruct-MLX
    template: qwen
    max_seq_len: 16384

  qwen2-7b-instruct-awq:
    path: Qwen/Qwen2-7B-Instruct-AWQ
    backend: vllm
    template: qwen
    max_seq_len: 16384
    dtype: auto
    tensor_parallel_size: 1
    gpu_memory_utilization: 0.5