embedding:
  bge-m3:
    path: BAAI/bge-m3
    batch_size: 2
    max_seq_len: 512
    enable_cache: false

reranker:
  bge-reranker-v2-m3:
    backend: sentence_transformers
    path: BAAI/bge-reranker-v2-m3
    batch_size: 4
    max_seq_len: 512
    dtype: bfloat16

llm:
  qwen2-7b-instruct-mlx:
    backend: mlx
    path: Aris-AI/Aris-Qwen1.5-14B-Chat-Agent-DPO-16K-MLX-20240531
    template: aris
    max_seq_len: 16384

  qwen2-7b-instruct-awq:
    path: Aris-AI/Aris-Qwen1.5-14B-Chat-Agent-DPO-16K-AWQ-4bit-20240531
    backend: vllm
    template: aris
    max_seq_len: 16384
    dtype: auto
    tensor_parallel_size: 1
    gpu_memory_utilization: 0.5