embedding:
  bge-m3:
    path: ../../model/bge-m3
    enable_cache: true
    batch_size: 1
    max_seq_len: 4096

reranker:
  bge-reranker-v2-m3:
    path: ../../model/bge-reranker-v2-m3
    batch_size: 1
    max_seq_len: 1024